//Disclaimed: Always backup your map before using this

// Percentage of ids to replace. 0 will replace nothing, 1 will replace everything. Only allows values between 0 and 1. Values like 0.00001 are possible
percentage=0.5

// Tile ids to be replaced. Will be replaced by replacement_id. Example Bushes: 142,143,144,145,146,147,160,166,169,172
source_ids=142,143,144,145,146,147,160,166,169,172

// Tile to replace the above with. Default: 2 (Grass) // It's possible to list multiple target ids, they will share percentage.
target_ids=2

